* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 5px;
  height: 80px;
}

.header-box {
  background-color: #b21b8a;
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  flex: 1; /* expand to fill available space */
  gap: 5px;
}

.main-box {
  background-color: #fd96a9;
  margin: 10px 0;
  height: 100%;
}

footer {
  min-height: 100px;
  background-color: #c1c99a;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  header {
    grid-template-columns: 1fr 1fr;
  }

  main {
    grid-template-columns: 1fr;
    margin-top: 10px;
    gap: 10px;
    height: auto;
  }

  .main-box {
    margin: 0;
    height: auto;
  }
}
